:root {
    --main-bg-color: #ffffff;
    --secondery-text-color: #bec5cc;
    --outline-color: #d3d8dc;
    --basic-font-color: #1a1919;
    --secondary-font-color: #060e1e;
    --brand-color: #316fea;
    --error-color: #ee3030;
}
