@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('./assets/fonts/basic-grotesque/BasisGrotesquePro-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Basis Grotesque Pro Regular';
    src: url('./assets/fonts/basic-grotesque/BasisGrotesquePro-Regular.woff') format('woff');
}
